{% extends 'sellfresh/base.html' %}
<link href="/static/css/magiczoomplus.css" type="text/css" rel="stylesheet">
{% block index %}

<div class="breadcrumb">
    <a href="#">全部分类</a>
    <span>></span>
    <a href="#{% url 'goods:list' good.goodstype.id 1 %}">{{ good.goodstype.title }}</a>
    <span>></span>
    <a href="#{{ good.detail }}">商品详情</a>
</div>

<div class="goods_detail_con clearfix">
    <div class="goods_detail_pic fl">
        <a href="/media/{{ good.pic }}" id="zoom1" class="MagicZoom MagicThumb">
            <img src="/media/{{ good.pic }}" style="width: 400px">
        </a>
    </div>

        <div class="goods_detail_list fr">
            <h3>{{ good.title }}</h3>
            <p>{{ good.detail }}</p>
            <div class="prize_bar">
                <span class="show_pirze">¥<em id="oneprice">{{ good.price }}</em></span>
                <span class="show_unit">单  位：{{ good.danwei }}</span>
            </div>
            <div class="goods_num clearfix">
                <div class="num_name fl">数 量：</div>
                <div class="num_add fl">
                    <input type="text" class="num_show" value="1">
                    <br><br>
                    <button id="jia">+</button>
                    <button id="jian">-</button>
                </div>
            </div>
            <br><br>
            <div class="total">
                总价：<em id="gprice">{{ good.price }}元</em>
            </div>
            <div class="operate_btn">
                <a href="javascript:" class="buy_btn" id="add_buy">立即购买</a>
                <a href="javascript:" class="add_cart" id="add_cart">加入购物车</a>
            </div>
        </div>
</div>

<div class="main_wrap clearfix">
    <div class="l_wrap fl clearfix">
        <div class="new_goods">
            <h3>新品推荐</h3>
            <ul>
                {% for i in news %}
                <li>
                    <a href="{% url 'goods:detail' i.id %}"><img src="/media/{{ i.pic }}" style="width: 200px"></a>
                    <h4><a href="{% url 'goods:detail' i.id %}">{{ i.title }}</a></h4>
                    <div class="prize">￥{{ i.price }}</div>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>

    <div class="r_wrap fr clearfix" id="tablist">

        <div class="tab_content active">
            <div role="tabpanel" class="tab-pane" id="detail">
                <dl>
                    <dt id="{{ good.detail }}">商品详情：</dt>
                    <dd>{{ good.goodscontent|safe }}</dd>
                </dl>
            </div>
        </div>
        <div class="tab_content">
            <div role="tabpanel" class="tab-pane" id="comment">
                <dl>
                    <dt>评论：</dt>
                    <dd>这是评论</dd>
                </dl>
            </div>
        </div>
    </div>
</div>


<div class="add_jump"></div>
<script type="text/javascript">
    $(function () {
        $("#add_cart").click(function () {
            num = parseFloat($(".num_show").val())
            price = parseFloat($("#oneprice").text())
            total = num * price
            console.log(num, price, total)
            $.ajax({
                url: "{% url 'sellfresh:addgoods' %}",
                type: "post",
                data: { "csrfmiddlewaretoken": "{{csrf_token}}",
                        "num":num,
                        "gid":"{{ good.id }}",
                        "total":total,
                        "oneprice":price},
                success: function (data){
                    alert(data.status)
                    // a = Number($('#show_count').text())
                    $('#show_count').text(data.count)
            }
            }
            )

        });
        $("#add_buy").click(function () {
            num = parseFloat($(".num_show").val())
            price = parseFloat($("#oneprice").text())
            total = num * price
            console.log(num, price, total)
        });

        $("#jia").click(function () {
            num = parseFloat($(".num_show").val())
            num += 1
            $(".num_show").val(num)
            price = parseFloat($("#oneprice").text())
            total = num * price
            $("#gprice").text(total.toFixed(2) + "元")
        });
        $("#jian").click(function () {
            num = parseFloat($(".num_show").val())
            if (num != 1) {
                num -= 1
                $(".num_show").val(num)
                price = parseFloat($("#oneprice").text())
                total = num * price
            }
            $("#gprice").text(total.toFixed(2) + "元")
        });
        $(".num_show").blur(function () {
            count = $(this).val();
            if(isNaN(count)){
                alert("请输入数字");
                $(this).val(1);
                return;
            } else if (count <= 0) {
                alert("请输入正确的数量");
                $(this).focus();
                $(this).val(1);
                return;
            } else if (count >= 100) {
                alert("数量不能超过100");
                $(this).focus();
                $(this).val(99);
                return;
            }
            // num = parseFloat($(".num_show").val())
            price = parseFloat($("#oneprice").text())
            total = count * price
            console.log(count, price, total)
            $("#gprice").text(total.toFixed(2) + "元")
        })
    })

    // function add() {
    //     num = parseFloat($(".num_show").val())
    //     $(".num_show").val(num + 1)
    //     $(".num_show").blur()
    // }
    //
    // function minus() {
    //     num = parseFloat($(".num_show").val())
    //     $(".num_show").val(num - 1)
    //     $(".num_show").blur()
    // }


</script>


{% endblock %}

	
