{% extends 'sellfresh/base.html' %}
{% block index %}
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/custom.css">
<div class="breadcrumb">
    <a href="#">全部分类</a>
    <span>></span>
    <a href="#">{{ type.title }}</a>
</div>

<div class="main_wrap clearfix">
    <div class="l_wrap fl clearfix">

        <div class="new_goods">
            <h3>新品推荐</h3>
            <ul>
                {% for i in news %}
                <li>
                    <a href="{% url 'goods:detail' i.id %}"><img src="/media/{{ i.pic }}"></a>
                    <h4><a href="{% url 'goods:detail' i.id %}">{{ i.title }}</a></h4>
                    <div class="prize">￥{{ i.price }}</div>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <div class="r_wrap fr clearfix">
        <div class="sort_bar">
            <a  href="{% url 'goods:list' typeop.id 1 %}">
                {% if choose == 1 %}
                class="active"
                {% endif %}默认</a>
            <a href="{% url 'goods:list' typeop.id 2 %}">
                {% if choose == 2 %}
                class="active"
                {% endif %}价格从低到高</a>
            <a href="{% url 'goods:list' typeop.id 3 %}">
                {% if choose == 3 %}
                class="active"
                {% endif %}价格从高到低</a>
            <a href="{% url 'goods:list' typeop.id 4 %}">
                {% if choose == 4 %}
                class="active"
                {% endif %}人气</a>

        </div>

        <ul class="goods_type_list clearfix">
            {% for i in page.object_list %}
            <li>
                <a href="{% url 'goods:detail' i.id %}"><img src="/media/{{ i.pic }}"></a>
                <h4><a href="{% url 'goods:detail' i.id %}">{{ i.title }}</a></h4>
                <div class="operate">
                    <span class="prize">{{ i.price }}</span>
                    <span class="unit">{{ i.price }}/{{ i.danwei }}</span>
                    <a href="#" class="add_goods" title="加入购物车"></a>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="pagination col-md-11">
            <ul>
                {% if page.has_previous %}
                <li class="col-md-2"><a href="?page={{ page.previous_page_number }}">上一页</a></li>
                {% endif %}
                {% if left_has_more %}
                <li class="col-md-1"><a href="?page={{ page.number |add:-3 }}">...</a></li>
                {% endif %}
                {% for i in page.paginator.page_range %}
                {% if i == page.number|add:-2 %}
                <li class=" col-md-1"><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% if i == page.number|add:-1 %}
                <li class=" col-md-1"><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% if i == page.number|add:+1 %}
                <li class=" col-md-1"><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% if i == page.number|add:+2 %}
                <li class=" col-md-1"><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% if i == page.number %}
                <li class="current col-md-1"><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if right_has_more %}
                <li class="col-md-1"><a href="?page={{ page.number|add:+3 }}">...</a></li>
                {% if page.has_next %}

                <li class="col-md-2"><a href="?page={{ page.next_page_number }}">下一页</a></li>
                {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
