{% extends 'sellfresh/base.html' %}
{% block index %}
	<div class="search_bar clearfix">
		<a href="{% url 'sellfresh:index' %}" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;提交订单</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>

	<h3 class="common_title">确认收货地址</h3>

	<div class="common_list_con clearfix">
		<dl>
			<dt>寄送到：</dt>
			{% for i in address %}
			{% if forloop.counter == 1 %}
			<dd><input id='{{ i.id }}' type="radio" name="choose" checked >{{ i.address }}</dd>
			{% else %}
			<dd><input id='{{ i.id }}' type="radio" name="choose" >{{ i.address }}</dd>
			{% endif %}
			{% endfor %}

		</dl>
		<a href="user_center_site.html" class="edit_site">编辑收货地址</a>

	</div>
	
	<h3 class="common_title">支付方式</h3>	
	<div class="common_list_con clearfix">
		<div class="pay_style_con clearfix">
			<input type="radio" name="pay_style" checked>
			<label class="cash">货到付款</label>
			<input type="radio" name="pay_style">
			<label class="weixin">微信支付</label>
			<input type="radio" name="pay_style">
			<label class="zhifubao">支付宝</label>
			<input type="radio" name="pay_style">
			<label class="bank">银行卡支付</label>
			<input type="radio" name="pay_style">
			<label class="bank">朋友代付</label>
		</div>
	</div>
	{% if state.state == 1 %}

	<h3 class="common_title" id='{{ order.ordernumber }}'>商品列表<span>订单号：<span id="orderid">{{ order.ordernumber }}</span></span></h3>
	<div class="common_list_con clearfix">
		<ul class="goods_list_th clearfix">
			<li class="col01">商品名称</li>
			<li class="col02">商品单位</li>
			<li class="col03">商品价格</li>
			<li class="col04">数量</li>
			<li class="col05">小计</li>		
		</ul>

		{% for i in order.orderinfo_set.all %}

		<ul class="goods_list_td clearfix" id="{{ i.id }}">
			<li class="col01">1</li>			
			<li class="col02"><img src="/media/{{ i.goods.pic }}"></li>
			<li class="col03">{{ i.goods.title }}</li>
			<li class="col04">{{ i.goods.danwei }}</li>
			<li class="col05">{{ i.goods.price }}元</li>
			<li class="col06">{{ i.count }}</li>
			<li class="col07">{{ i.allprice }}<span>元</span></li>
		</ul>
		{% endfor %}

	</div>

	<h3 class="common_title">总金额结算</h3>

	<div class="common_list_con clearfix">
		<div class="settle_con">
			<div class="total_goods_count">共<em>{{ order.orderinfo_set.count }}</em>件商品，总金额<b id="total">{{ order.allprice }}</b></div>

			<div class="total_pay">实付款：<b id="totalall">{{ order.allprice }}<span>元</span></b></div>
		</div>
	</div>
	<div class="order_submit clearfix">
		<a href="javascript:;" id="order_btn">提交订单</a>
	</div>
	{% else %}
	<h3 class="common_title">没有可提交的订单</h3>

	<div class="common_list_con clearfix">
		<dl>
			<dt>请到我的订单页面查看订单并评论</dt>
		</dl>
		<a href="{% url 'sellfresh:order' %}" class="edit_site">我的订单</a>

	</div>
	{% endif %}
<script type="text/javascript" src="/static/js/jquery-3.3.1.js"></script>
	<script type="text/javascript">
		$('#order_btn').click(function () {

			allprice=$('#totalall').text()
			orderid=$('#orderid').text()
			address=$("input[name='choose']:checked").parent('dd').text();
			paystyle=$("input[name='pay_style']:checked").next().text()
			console.log(allprice,orderid,address,paystyle)
			$.ajax({
				url: "{% url 'sellfresh:orderagain' %}",
                type: "post",
                data: {
                    "csrfmiddlewaretoken": "{{csrf_token}}",
					"paystyle":paystyle,
                    "orderid": orderid,
                    "allprice": allprice,
					"address": address,

                },success:function (data) {
					console.log(data)
					window.location="{% url 'sellfresh:order' %}"
				}
			})
		})
		// function total(){
		// 	var total=0
		// 	console.log("fdsafsa")
		// 	$(".col07").each(function (){
		// 		total1=$(this).val()
		// 		total+=parseFloat(total1)
		// 		console.log(total)
		// 								})
		// 	$('#total').text(total)
		// }
		// total()
		// $('#order_btn').click(function() {
		// 	localStorage.setItem('order_finish',2);
		//
		// 	$('.popup_con').fadeIn('fast', function() {
		//
		// 		setTimeout(function(){
		// 			$('.popup_con').fadeOut('fast',function(){
		// 				window.location.href = 'index.html';
		// 			});
		// 		},3000)
		//
		// 	});
		// });
	</script>
{% endblock %}

