{% extends 'sellfresh/userbase.html' %}
{% block status %}
<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'sellfresh:usercenter' %}" class="active">· 个人信息</a></li>
				<li><a href="{% url 'sellfresh:order' %}">· 全部订单</a></li>
				<li><a href="{% url 'sellfresh:address' %}">· 收货地址</a></li>
			</ul>
		</div>
{% endblock %}
{% block body %}
<div class="right_content clearfix">
    <div class="info_con clearfix">
        <h3 class="common_title2">基本信息</h3>
        <ul class="user_info_list">
            <li><span>用户名：</span>{{ user.username }}</li>
            <li><span>邮箱：</span>{{ user.email }}</li>
            <li><span>上次登录：</span>{{ user.last_login }}</li>
        </ul>
    </div>

    <h3 class="common_title2">最近浏览</h3>
    <div class="has_view_list">
        <ul class="goods_type_list clearfix">
            {% if good_list != 0 %}
            {% for i in good_list %}
                <li>
                <a href="{% url 'goods:detail' i.id %}"><img src="/media/{{ i.pic }}"></a>
                <h4><a href="{% url 'goods:detail' i.id %}">{{ i.title }}</a></h4>
                <div class="operate" id="{{ i.id }}">
                    <span class="prize" id="oneprice">{{ i.price }}</span>
                    <span class="unit">{{ i.price }}/{{ i.danwei }}</span>
                    <a href="javascript:;" class="add_goods" title="加入购物车"></a>
                </div>
            </li>
            {% endfor %}
            {% else %}
                <p>没有浏览记录</p>
            {% endif %}
        </ul>
    </div>
</div>
<script type="text/javascript" src="/static/js/jquery-3.3.1.js"></script>
<script>
    $(".add_goods").click(function () {
            num = 1;
            console.log($(this).siblings("#oneprice"))
            pp=$(this).siblings("#oneprice").text()
            console.log(pp)
            price = parseFloat(pp);
            gid=$(this).parent('.operate').attr('id')
            total = num * price;
            $.ajax({
                url: "{% url 'sellfresh:addgoods' %}",
                type: "post",
                data: { "csrfmiddlewaretoken": "{{csrf_token}}",
                        "num":num,
                        "gid":gid,
                        "total":total,
                        "oneprice":price},
                success: function (data){
                    alert(data.status)
                    // a = Number($('#show_count').text())
                    $('#show_count').text(data.count)
            }
            }
            )
        });
</script>
{% endblock %}
