{% extends 'sellfresh/userbase.html' %}
{% block status %}
<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'sellfresh:usercenter' %}" >· 个人信息</a></li>
				<li><a href="{% url 'sellfresh:order' %}" class="active">· 全部订单</a></li>
				<li><a href="{% url 'sellfresh:address' %}">· 收货地址</a></li>
			</ul>
		</div>
{% endblock %}
{% block body %}
<div class="right_content clearfix">
    <h3 class="common_title2">全部订单</h3>
    {% for i in order %}
    {% if i.status == '待付款' %}
    <ul class="order_list_th w978 clearfix" >
        <li class="col01">{{ i.creattime }}</li>
        <li class="col02">订单号：<span>{{ i.ordernumber }}</span></li>
        <li class="col02 stress" id="no">未支付</li>
    </ul>
    <table class="order_list_table w980" id="{{ i.id }}">
        <tbody>
        <tr>
            <td width="55%">
                {% for j in i.orderinfo_set.all %}
                <ul class="order_goods_list clearfix">
                    <li class="col01"><img src="/media/{{ j.goods.pic }}"></li>
                    <li class="col02">{{ j.goods.title }}<em>{{ j.goods.price }}元/{{ j.goods.danwei }}</em></li>
                    <li class="col03">{{ j.count }}</li>
                    <li class="col04">{{ j.allprice }}元</li>
                </ul>
                {% endfor %}
            </td>
            <td width="15%">{{ i.allprice }}元</td>
            <td width="15%"><span id="status">待付款</span></td>
            <td width="15%"><a href="#" class="oper_btn" ><span id="payment">去付款</span></a></td>
        </tr>
        </tbody>
    </table>
    {% elif i.status == '已付款' %}
    <ul class="order_list_th w978 clearfix" >
        <li class="col01">{{ i.creattime }}</li>
        <li class="col02">订单号：<span>{{ i.ordernumber }}</span></li>
        <li class="col02 stress">已支付</li>
    </ul>
    <table class="order_list_table w980" id="{{ i.id }}">
        <tbody>
        <tr>
            <td width="55%">
                {% for j in i.orderinfo_set.all %}
                <ul class="order_goods_list clearfix">
                    <li class="col01"><img src="/media/{{ j.goods.pic }}"></li>
                    <li class="col02">{{ j.goods.title }}<em>{{ j.goods.price }}元/{{ j.goods.danwei }}</em></li>
                    <li class="col03">{{ j.count }}</li>
                    <li class="col04">{{ j.allprice }}元</li>
                </ul>
                {% endfor %}
            </td>
            <td width="15%">{{ i.allprice }}元</td>
            <td width="15%" ><span id="status">已付款</span></td>
            <td width="15%"><a href="javascript:;" class="oper_btn"><span id="pingjia">去评价</span></a></td>
        </tr>
        </tbody>
    </table>
    {% endif %}
    {% endfor %}
</div>
<script type="text/javascript" src="/static/js/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $('.oper_btn').click(function () {
        aa=$(this).parents(".order_list_table").attr('id');
        $.ajax({
            url: "{% url 'sellfresh:updateorder' %}",
                type: "post",
                data: {
                    "csrfmiddlewaretoken": "{{csrf_token}}",
                    "orderid": aa,
                },success:function (data) {
                    console.log(data.orderid,typeof(data.orderid))
                    if (data.status == 0){
                        $("#"+data.orderid).prev().find('#no').text('已支付')
                        console.log($('#'+data.orderid).find('#status'))

                        $('#'+data.orderid).find('#status').text('已付款');
                        console.log($('#'+data.orderid).find('#pingjia'))
                        $('#'+data.orderid).find('#payment').text('去评价');
                    }
                    else{
                        window.location='{% url "sellfresh:commit" %}'
                    }


            }
        })
    })
</script>
{% endblock %}